<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/Css/style.css"/>
    <!--[if IE 6]>
    <script src="__PUBLIC__/Home/Js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="__PUBLIC__/Home/Js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/menu.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Home/Js/select.js"></script>


    <title>尤洪</title>
</head>
<body>
<!--Begin Header Begin-->
<include file="Index/header"/>
<!--End Header End-->
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
        <include file="left"/>
        <div class="m_right">
            <p></p>
            <div class="mem_tit">我的订单</div>
            <table border="0" class="order_tab" style="width:930px; text-align:center; margin-bottom:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20%">订单号</td>
                    <td width="25%">下单时间</td>
                    <td width="15%">订单总金额</td>
                    <td width="25%">订单状态</td>
                    <td width="15%">操作</td>
                </tr>
                <volist name="orders" id="orders">
                    <tr>
                        <td><font color="#ff4e00">{$orders.id}</font></td>
                        <td>{$orders.addTime|date="Y-m-d",###}</td>
                        <td>￥{$orders.total}</td>
                        <td>
                            <if condition="$orders.status eq 1">新订单
                                <elseif condition="$orders.status eq 2"/>
                                已发货
                                <else/>
                                已收货
                            </if>
                        </td>
                        <td><a href="__URL__/cancel/id/{$orders.id}">取消订单</a></td>
                    </tr>
                </volist>
            </table>


            <!--<div class="mem_tit">合并订单</div>-->
            <!--<table border="0" class="order_tab" style="width:930px;" cellspacing="0" cellpadding="0">-->
                <!--<tr>-->
                    <!--<td width="135" align="right">主订单</td>-->
                    <!--<td width="220">-->
                        <!--<select class="jj" name="order1">-->
                            <!--<option value="0" selected="selected">请选择...</option>-->
                            <!--<option value="1">2015092626589</option>-->
                            <!--<option value="2">2015092626589</option>-->
                            <!--<option value="3">2015092626589</option>-->
                            <!--<option value="4">2015092626589</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td width="135" align="right">从订单</td>-->
                    <!--<td width="220">-->
                        <!--<select class="jj" name="order2">-->
                            <!--<option value="0" selected="selected">请选择...</option>-->
                            <!--<option value="1">2015092626589</option>-->
                            <!--<option value="2">2015092626589</option>-->
                            <!--<option value="3">2015092626589</option>-->
                            <!--<option value="4">2015092626589</option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="btn_u"><a href="#">合并订单</a></div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>&nbsp;</td>-->
                    <!--<td colspan="4" style="font-family:'宋体'; padding:20px 10px 50px 10px;">-->
                        <!--订单合并是在发货前将相同状态的订单合并成一新的订单。 <br/>-->
                        <!--收货地址，送货方式等以主定单为准。-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->


        </div>
    </div>
    <!--End 用户中心 End-->
    <!--Begin Footer Begin -->
    <div class="b_btm_bg b_btm_c">
        <div class="b_btm">
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b1.png" width="62" height="62"/></td>
                    <td><h2>正品保障</h2>正品行货 放心购买</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b2.png" width="62" height="62"/></td>
                    <td><h2>满38包邮</h2>满38包邮 免运费</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b3.png" width="62" height="62"/></td>
                    <td><h2>天天低价</h2>天天低价 畅选无忧</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b4.png" width="62" height="62"/></td>
                    <td><h2>准时送达</h2>收货时间由你做主</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="b_nav">
        <dl>
            <dt><a href="#">新手上路</a></dt>
            <dd><a href="#">售后流程</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">订购方式</a></dd>
            <dd><a href="#">隐私声明</a></dd>
            <dd><a href="#">推荐分享说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">配送与支付</a></dt>
            <dd><a href="#">货到付款区域</a></dd>
            <dd><a href="#">配送支付查询</a></dd>
            <dd><a href="#">支付方式说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">会员中心</a></dt>
            <dd><a href="#">资金管理</a></dd>
            <dd><a href="#">我的收藏</a></dd>
            <dd><a href="#">我的订单</a></dd>
        </dl>
        <dl>
            <dt><a href="#">服务保证</a></dt>
            <dd><a href="#">退换货原则</a></dd>
            <dd><a href="#">售后服务保证</a></dd>
            <dd><a href="#">产品质量保证</a></dd>
        </dl>
        <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">网站故障报告</a></dd>
            <dd><a href="#">购物咨询</a></dd>
            <dd><a href="#">投诉与建议</a></dd>
        </dl>
        <div class="b_tel_bg">
            <a href="#" class="b_sh1">新浪微博</a>
            <a href="#" class="b_sh2">腾讯微博</a>
            <p>
                服务热线：<br/>
                <span>400-123-4567</span>
            </p>
        </div>
        <div class="b_er">
            <div class="b_er_c"><img src="__PUBLIC__/Home/Images/er.gif" width="118" height="118"/></div>
            <img src="__PUBLIC__/Home/Images/ss.png"/>
        </div>
    </div>
    <div class="btmbg">
        <div class="btm">
            备案/许可证编号：豫ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br/>
            <img src="__PUBLIC__/Home/Images/b_1.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_2.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_3.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_4.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_5.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_6.gif" width="98" height="33"/>
        </div>
    </div>
    <!--End Footer End -->
</div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
