/*全文字体样式*/
body{
	font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

/*头部样式代码*/
.header {
	height:1.375rem;
	line-height: 1.375rem;
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	background-color: #eb6d00;
	text-align: center;
	font-size:0.48rem;
	color:white;
	-webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
   	z-index: 99;
}

.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -0.278rem;
    margin-left: -0.278rem;
    padding-right: 0.278rem;
    padding-left: 0.278rem;
}
.mui-bar-nav .mui-icon {
    font-size: 0.667rem;
    position: relative;
    z-index: 20;
    padding-top: 0.298rem;
    padding-bottom: 0.278rem;
    color:white;
}

.header-right{
	position: absolute;
	font-size:.4rem;
	right:0.267rem;
}

.under-top{
	margin-top:1.375rem;
}
/***************************p***********************************/
.p-box{
	width:100%;
	height:1.973rem;
 	background: url(../images/icon-deboule-p.png) no-repeat;
	background-size: 1.093rem 0.907rem;
	background-position: 3% center;
	text-indent: 6em;
	vertical-align: middle;
	background-color: #ffffff;
}

.p-box-title{
	padding-top: 0.347rem;
	font-size: 0.427rem;
	color:#252525;
	margin-bottom: 0.133rem;
}

.p-box-sub-title{
	font-size: 0.35rem;
}

.p-box-sub-title>span{
	color:#aaa;
}

.common-title{
	 height:1.2rem;
	 line-height: 1.2rem;
	 vertical-align: middle;
	 text-indent: 1em;
	 font-size: 0.427rem;
	 color:#eb6d00;
	 border-bottom: 1px solid #dddddd;
	 background:#fff;
	 margin-top:.25rem;
}
.common-title>span{
	color:#dddddd;
}
/**************评价五星*******************/
.y-starBox{background:#fff;overflow:hidden;padding:0 .3rem;}
.y-starBox>p{color:#333;margin-top:.2rem;}
.y-starBox>ul{background:#fff;overflow:hidden;margin-top:.2rem;}
.y-starBox>ul>li{background:url(../images/icon-star2..png) no-repeat;background-size:100% 100%;float:left;width:0.5rem;height:0.5rem;margin-left:.2rem;}
.y-starBox>ul>li.active{background:url(../images/icon-star1.png) no-repeat;background-size:100% 100%;} 
/*-------------------------------------------------------------*/
/*底部样式代码开始*/
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
    right:0;
	height: 1.307rem;
	line-height: 1.307rem;
	overflow: hidden;
	background-color: #ffffff;
	border-top: 1px solid #ccc;
	z-index: 99;
}
.footer .item-foot{
	width:25%;
	display: inline-block;
	float:left;
	text-align: center;
	height:100%;
	position: relative;
}
.footer .new{
   background: url(../images/icon-new.png) no-repeat;
   background-position: 0.96rem 0.16rem;
   background-size: 0.56rem 0.533rem;
}
.footer .new.cur{
   background: url(../images/icon-new-check.png) no-repeat;
   background-position: 0.96rem 0.16rem;
   background-size: 0.56rem 0.533rem;
}
.footer .project{
   background: url(../images/icon-project.png) no-repeat;
   background-position: 1.013rem 0.16rem;
   background-size: 0.467rem 0.533rem;
}
.footer .project.cur{
   background: url(../images/icon-project-check.png) no-repeat;
   background-position: 1.013rem 0.16rem;
   background-size: 0.467rem 0.533rem;
}
.footer .sale{
   background: url(../images/icon-sale.png) no-repeat;
   background-position:  0.933rem 0.16rem;
   background-size:  0.587rem 0.533rem;
}
.footer .sale.cur{
   background: url(../images/icon-sale-check.png) no-repeat;
   background-position:  0.933rem 0.16rem;
   background-size:  0.587rem 0.533rem;
}
.footer .oa{
   background: url(../images/icon-oa.png) no-repeat;
   background-position: 1.013rem 0.16rem;
   background-size: 0.533rem 0.533rem;
}
.footer .oa.cur{
   background: url(../images/icon-oa-check.png) no-repeat;
   background-position: 1.013rem 0.16rem;
   background-size: 0.533rem 0.533rem;
}
.footer .item-foot.cur a{
	color:#eb6d00;
}
.footer .item-foot a{
	display: inline-block;
	width:100%;
	height:100%;
	text-align: center;
	font-size: 0.32rem;
	margin-top: 0.293rem;
	color:#8c8c8c;
    text-decoration: none;

}
/*底部样式代码结束*/
/*-------------------------------------------------------------*/
/*中间部分样式*/
.g-content {
	overflow-y: auto;
	top: 1.375rem;
	bottom: 1.307rem;
	position: absolute;
	left: 0;
	right: 0;
	/* 增加该属性，可以增加弹性*/
	-webkit-overflow-scrolling: touch;
	z-index:1; 
}
/*-------------------------------------------------------------*/
