<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商品属性</title>
    <link href="__PUBLIC__/Admin/Css/css.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/Css/main.css" type="text/css" rel="stylesheet"/>
    <include file="list"/>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：商品属性管理</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                <tr>
                    <td width="90%" align="left" valign="middle">
                        <form method="post" action="">
                            <span>管理员：</span>
                            <input type="text" name="" value="" class="text-word">
                            <input name="" type="button" value="查询" class="text-but">
                        </form>
                    </td>
                    <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="__URL__/addProperty" target="mainFrame" onFocus="this.blur()" class="add">新增商品属性</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <tr>
                    <th class="borderright">编号</th>
                    <th class="borderright">商品分类Id</th>
                    <th class="borderright">属性名</th>
                    <th class="borderright">属性值</th>
                    <th class="borderright">是否影响型号</th>
                    <th>操作</th>
                </tr>
                <volist name="property" id="property">
                    <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                        <td align='center' valign='middle' class='borderright borderbottom'>{$property['id']}</td>
                        <td align='center' valign='middle' class='borderright borderbottom'>{$property['typeId']}</td>
                        <td align='center' valign='middle' class='borderright borderbottom'>{$property['propertyName']}</td>
                        <td align='center' valign='middle' class='borderright borderbottom'>{$property['propertyValue']}</td>
                        <td align='center' valign='middle' class='borderright borderbottom'>{$property['version']}</td>
                        <td align='center' valign='middle'>
                            <a href='#' target='mainFrame' onFocus='this.blur()' class='add'>编辑</a>
                            <span class='gray'>&nbsp;|&nbsp;</span><a href='#' target='mainFrame' onFocus='this.blur()' class='add'>删除</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" class="fenye">11条数据1页&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">首页</a>&nbsp;&nbsp;<a href="" target="mainFrame" onFocus="this.blur()">上一页</a>&nbsp;&nbsp;<a href="" target="mainFrame" onFocus="this.blur()">下一页</a>&nbsp;&nbsp;<a href="#" target="mainFrame" onFocus="this.blur()">尾页</a></td>
    </tr>
</table>
</body>
</html>