@charset "utf-8";
/* reset */
* {-webkit-tap-highlight-color:rgba(255,255,255,0);}
html {font-size:16px;border:0 none;}
body {margin:0 auto;padding:0;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;}
button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,textarea,td,th,ul {margin:0;padding:0}
i,b,em,strong {font-weight:400;font-style:normal;}
img {border:0 none;vertical-align:top;}
li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:400;font-size:100%;}
sub, sup {position:relative;line-height:0;vertical-align:baseline;font-size:75%;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;-moz-appearance:button;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
input,select,textarea,button{font-size:100%;outline:none;vertical-align:top;border-radius:0;-webkit-border-radius:0;}
textarea {overflow:auto;resize:none;}
table {border-collapse:collapse;border-spacing: 0;}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }
th {text-align:center;}
a {text-decoration:none;}
input::-ms-clear, input::-ms-reveal {display:none;}
::-webkit-input-placeholder {color:#ccc;}
:-moz-placeholder {color:#ccc;}
::-moz-placeholder {color:#ccc;}
:-ms-input-placeholder {color:#ccc;}


/**公共样式*/
html{color: #000;background: #fff;overflow-y: scroll;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html *{outline: none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html,body{font-family: sans-serif;height: 100%;width: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin: 0;padding: 0;}
input,select,textarea{font-size: 100%;}
/* 去掉各 Table cell 的边距并让其边重合*/
table{border-collapse: collapse;border-spacing: 0;}
/* 去除默认边框*/
fieldset,img{border: 0;}
/* 去掉 firefox 下此元素的边框*/
abbr,acronym{border: 0;font-variant: normal;}
/* 一致的 del 样式*/
del{text-decoration: line-through;}
address,caption,cite,code,dfn,em,th,var{font-style: normal;font-weight: 500;}
/* 去掉列表前的标识, li 会继承*/
ol,ul{list-style: none;}
/* 对齐是排版最重要的因素, 别让什么都居中*/
caption,th{text-align: left;}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用*/
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: 500;}
q:before,q:after{content: '';}
/* 统一上标和下标*/
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
/* 正常链接 未访问*//* 鼠标悬停*/
a:hover{text-decoration: underline;}
/* 默认不显示下划线，保持页面简洁*/
ins,a,a:active,a:visited,a:link{text-decoration: none;}


/* 2016-08-03加入的reset2*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }



/* function class */
.f_cf:before,.f_cf:after {content:"";display:table;}
.f_cf:after {clear:both;overflow:hidden;}
.f_cf {zoom:1;}
.f_fl {float:left;}
.f_fr {float:right;}
.f_tal {text-align:left;}
.f_tac {text-align:center;}
.f_tar {text-align:right;}
.f_dn { display: none; }
.f_dib {display:inline-block;}
.f_db { display: block; }
.f_toe {overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f_wwb {white-space:normal;word-wrap:break-word;word-break:break-all;}
.f_tdlt {text-decoration:line-through;}
.f_pa {position:absolute;}
.f_pr {position:relative;}
.f_pf {position:fixed;}
.f_fw5 {font-weight:500;}
.f_fw6 {font-weight:600;}
.f_fw7 {font-weight:700;}
.f_vat {vertical-align:top;}
.f_vam {vertical-align:middle;}
.f_two {text-indent:100%;white-space:nowrap;overflow:hidden;}
.full_size {width:100%;left:0;top:0;height:100%;}
.none_touch {-webkit-touch-callout:none;}
.loading {background:url(../images/common/load.gif) no-repeat center center;background-size: 1.5rem 1.5rem;}
.u_arrowT {width:0;height:0;font-size:0;line-height:0;overflow:hidden;border-width:1rem;border-style:solid dashed dashed dashed;border-color:#000 transparent transparent transparent;}
.u_arrowB {width:0;height:0;font-size:0;line-height:0;overflow:hidden;border-width:1rem;border-style:dashed dashed solid dashed;border-color:transparent transparent #000 transparent;}
.u_arrowL {width:0;height:0;font-size:0;line-height:0;overflow:hidden;border-width:1rem;border-style:dashed solid dashed dashed;border-color:transparent #000 transparent transparent;}
.u_arrowR {width:0;height:0;font-size:0;line-height:0;overflow:hidden;border-width:1rem;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #000;}
.u_ipt {border:solid 1px #d6d6d6;border-radius:0.5rem;font-size:1.875rem;color:#333;line-height:3.125rem;padding:1rem 0;}
.full_btn {height:5.625rem;line-height:5.625rem;text-align:center;color:#e04324;font-size:2rem;border:solid 1px #d6d6d6;border-width:1px 0;background:#fff;}

/* 按钮 */
.s_btn {}

a.m_btn,.m_btn {height:4.375rem;line-height:4.375rem;font-size:1.25rem;color:#fff;background:#fc5002;text-align:center;border:none;border-radius:0.5rem;width:11.25rem;}
.m_btn:hover,
.m_btn:active {background:#db4400;}

a.disabled {background: #808080; cursor: not-allowed; pointer-events: auto;}
a.disabled:hover, a.disabled:active {background:#808080;}

/** 支付按钮 */
.sure_pay {background: #ff5000 none repeat scroll 0 0;}
.sure_pay.disabled {background: #808080; cursor: not-allowed; pointer-events: auto;}
.sure_pay.disabled:hover, .sure_pay.disabled:active {background: #808080;}


a.l_btn,.l_btn {width:93.75%;background:#fc5002;color:#fff;font-size:2.125rem;height:5rem;line-height:5rem;text-align:center;border:none;border-radius:0.5rem;}
.l_btn:hover,
.l_btn:active {background:#db4400;}
.l_btn[disabled] {background:#ccc;color:#858585;}

a.l_btn_w,.l_btn_w {width:93.75%;background:#f5f5f5;color:#333;font-size:2.125rem;height:5rem;line-height:5rem;text-align:center;border:none;border-radius:0.5rem;border:solid 1px #858585;}
.footer input.l_btn,
.footer a.l_btn {margin:0.5625rem auto 0;}

.new_l_btn {border: 1px solid #666;border-radius: 0.5rem;color: #666;height: 3.5rem;line-height: 3.5rem;margin:1.4rem 1.125rem 0 0;text-align: center;width: 9.75rem;font-size:1.75rem;}


/* 字体自适应 */
@media screen and (max-width:800px){html {font-size:20px;}}
@media screen and (max-width:768px){html {font-size:19.2px;}}
@media screen and (max-width:640px){html {font-size:16px;}}
@media screen and (max-width:603px){html {font-size:15.075px;}}
@media screen and (max-width:600px){html {font-size:15px;}}
@media screen and (max-width:533px){html {font-size:13.325px;}}
@media screen and (max-width:480px){html {font-size:12px;}}
@media screen and (max-width:414px){html {font-size:10.35px}}
@media screen and (max-width:400px){html {font-size:10px}}
@media screen and (max-width:384px){html {font-size:9.6px;}}
@media screen and (max-width:375px){html {font-size:9.375px;}}
@media screen and (max-width:360px){html {font-size:9px;}}
@media screen and (max-width:320px){html {font-size:8px;}}


/* layout */
.vertical_center0 {display:table;*position:relative!important;}
.vertical_center0 .vertical_center1 {display:table-cell;vertical-align:middle;*position:absolute;*top:50%;}
.vertical_center0 .vertical_center1 .vertical_center2 {*position:relative;*top:-50%;} 



/* 布局 */
html {-webkit-overflow-scrolling:touch;overflow:auto;background:#f5f5f5;}


/* 数据加载提示 */
.data_load_tip {color:#3d4245;font-size:1.75rem;line-height:4rem;}


/* 底部导航 */
.bottom_nav {height:6.0625rem;}
.bottom_nav li {float:left;height:100%;padding-top:0.8rem;}
.bottom_nav li a {display:block;height:100%;text-align:center;color:#333;position:relative;}
.bottom_nav li a i {width:1.5rem;height:1.5rem;color:#fff;border-radius:50%;background:#F00;background-clip:padding-box;text-align:center;line-height:1.5rem;font-size:1.125rem;
position:absolute;top:-0.5rem;right:2rem;display:block;
}
.bottom_nav li a i.hide {display:none;}
.bottom_nav li a img {height:2.625rem;}
.bottom_nav li a b {font-size:1.5rem;line-height:2.2rem;display:block;}
.bottom_nav li a:hover,
.bottom_nav li a.current {color:#fc5002;}
.bottom_nav.li4 li {width:25%;}
.bottom_nav.li5 li {width:20%;}



/* 搜索模块 */
.search_form {margin:0.84375rem auto 0;width:75.625%;height:3.75rem;}
.search_form_index {width:67%;}
.search_form .keyword {border:solid 1px #d6d6d6;border-radius:0.5rem;width:100%;font-size:1.5rem;color:#333;#f5f5f5;line-height:2.625rem;padding:0.7rem 0 0.3rem 4rem;background:#f5f5f5 url(../images/common/search.png) no-repeat 0.5rem center;background-size:auto 70%;background-clip:padding-box;}
.search_form .search_btn {display:none;}
.search_form.has_btn .keyword {width:77%;}
.search_form.has_btn .search_btn {display:block;background:#fc5002;border:0 none;border-radius:0.5rem;width:20%;margin-left:3%;color:#fff;font-size:1.75rem;height:100%;line-height:3.75rem;text-align:center;background-clip:padding-box;}
.search_form2 {width:92.5%;}
.search_form_page {width:92.5%;}
.search_form_page2 {margin-left:4.5rem;width:86%;}
.search_form.short {width:72.625%;margin-left:5rem;}
.search_form3 {margin:0.84375rem 7.5rem 0 5rem;width:auto;}

/* 图片轮播 */
.carousel {height:18.75rem;position:relative;overflow:hidden;border:solid 1px #d6d6d6;border-width:1px 0;margin-top:-1px;width:100%;}
.carousel .slider {position:relative;height:100%;}
.carousel .slider .item {height:100%;}
.carousel .slider .item img {width:100%;height:100%;}
.carousel .slider .item img.loading {background-size:auto 8%;}
.carousel .paging {text-align:center;position:absolute;bottom:1rem;width:100%;left:0;}
.carousel .paging li {display:inline-block;width:1rem;height:1rem;border:solid 1px #fff;background-clip:padding-box;border-radius:50%;margin-left:0.5rem;overflow:hidden;text-indent:100%;white-space:nowrap;}
.carousel .paging li.selected {background-color:#fff;}

/* 图片轮播2 */
.carousel2 {height:13.125rem;}
.carousel2 .slider .item a {float:left;width:33.3333%;overflow:hidden;height:100%;position:relative;border-bottom:solid 1px #d6d6d6;}
.carousel2 .slider .item a:nth-of-type(2) {border:solid 1px #d6d6d6;border-top:none;}
.carousel2 .slider .item a p {background:rgba(0,0,0,0.2);position:absolute;bottom:0;left:0;width:100%;height:3.375rem;line-height:3.375rem;font-size:1.5rem;color:#fff;}


/* 图片轮播3 */
.carousel4 {height:20rem;}



/* 弹出层 */
.u_popup {position:fixed;left:0;top:0;width:100%;height:100%;z-index:100;overflow:hidden;}
.u_popup .u_maskLayer {height:100%;width:100%;background:rgba(51,51,51,0.5);}
.u_popup .u_popup_inner {position:absolute;width:84.375%;left:7.8125%;background:#fff;border-radius:0.8rem;top:50%;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);background-clip:padding-box;overflow:hidden;}
.u_popup .u_popup_inner .u_popup_header {border-bottom:solid 1px #d6d6d6;height:4rem;line-height:4rem;font-size:1.875rem;color:#333;padding:0 0.5rem 0 2.125rem;}
.u_popup .u_popup_inner .u_popup_header span.f_fl {}
.u_popup .u_popup_inner .u_popup_header span.f_fr {cursor:pointer;background:url(../images/common/close.png) no-repeat center center;height:100%;width:4rem;background-size:auto 50%;}
.u_popup .u_popup_inner .u_popup_content {padding:2.125rem;font-size:1.875rem;color:#333;line-height:1.2;}
.u_popup .u_popup_inner .u_popup_footer {border-top:solid 1px #d6d6d6;background-clip:padding-box;overflow:hidden;height:5.5rem;}
.u_popup .u_popup_inner .u_popup_footer a.f_fl {width:50%;height:5.5rem;line-height:5.5rem;text-align:center;color:#007aff;font-size:2.125rem;}
.u_popup .u_popup_inner .u_popup_footer a.f_fl:hover,
.u_popup .u_popup_inner .u_popup_footer a.f_fl:active {background:#f5f5f5;}
.u_popup .u_popup_inner .u_popup_footer a.f_fl:first-of-type {border-right:solid 1px #d6d6d6;}
.u_popup .u_popup_inner .u_popup_footer a.full {width:100%;}


/* 省市区联动插件 */
.area_plug {position:relative;height:5.125rem;overflow:hidden;line-height:5.125rem;}
.area_plug span {display:block;position:absolute;left:0;width:100%;height:100%;top:0;z-index:2;color:#ccc;}

/* 日期联动插件 */
.date_plug {position:relative;height:5.125rem;overflow:hidden;line-height:5.125rem;}
.date_plug span {display:block;position:absolute;left:0;width:100%;height:100%;top:0;z-index:2;color:#ccc;}


/* 滚动条样式 */
.scroller_vertical,
.scroller_horizontal {border-radius: 2.5px;background-color: rgba(0,0,0,.35);-webkit-transition: opacity .5s;transition: opacity .5s;position:absolute;opacity:0;}
.scroller_vertical {width:5px;right:0;}
.scroller_horizontal {height:5px;bottom:0;}
.noscrollbar {height:200px;overflow:hidden;}


/* 左右布局 */
.u_l_r_layout {display:block;position:relative;}
.u_l_layout {float:left;}
.u_r_layout {float:left;}


/* 左描述又输入 */		
.label_ipt {background:#fff;margin:3.125% 0 0 0;border: 1px solid #dedfdf;border-width:1px 0;}
.label_ipt .label {font-size:1.875rem;line-height:5.625rem;color:#333;width:26%;text-align:right;margin-right:2%;white-space:nowrap;}
.label_ipt .ipt {width:72%;line-height:3.025rem;padding:1.3rem 0.625rem;font-size:1.875rem;color:#333;border:0;background:#fff;}


/* 列表布局 */
.u_list {position:relative;}
.u_list li {float:left;}
.u_list.li5 {}
.u_list.li5 li {width:20%;}
.u_list.li4 {}
.u_list.li4 li {width:25%;}
.u_list.li3 {}
.u_list.li3 li {width:33.33333%;}
.u_list.li2 {}
.u_list.li2 li {width:50%;}


/* 链接列表 */
.link_list {background:#fff;margin-top:1.5rem;border:solid 1px #d6d6d6;border-width:1px 0;}
.link_list a {height:5.625rem;line-height:5.625rem;margin-left:1.5rem;border-top:solid 1px #d6d6d6;font-size:1.875rem;padding-right:3rem;
background:url(../images/common/arrow_right.png) no-repeat 98% center;background-size:auto 40%;
}
.link_list a img {height: 2.75rem;margin: 1.4rem 1rem 0px 0px;}

.link_list a.no_arrow {background:none;}
.link_list a.big {height:9.25rem;line-height:9.25rem;background-size:auto 23%;}
.link_list a.big span.f_fr {margin-top:1.625rem;line-height:normal;}
.link_list a.big span.f_fr img {width:6.0625rem;margin:0;height:auto;}

.link_list a span.f_fl {color:#333;}
.link_list a span.f_fl i {color:#fff;position:relative;width:1.5rem;height:1.5rem;text-align:center;line-height:1.5rem;font-size:1.5rem;
background:#ff0000;border-radius:50%;top:-1rem;display:inline-block;}
.link_list a span.f_fr {color:#858585;}
.link_list a:first-of-type {border:none;}
.link_list2 a {margin-left:0;padding-left:1.5rem;overflow:hidden;}


/* 新下拉选择 */
.full_mask {position:fixed;left:0;top:0;width:100%;height:100%;z-index:1000;background:rgba(141,141,141,0.7);}
.full_mask ul {position:absolute;border:solid 1px #d6d6d6;bottom:7.75rem;width:95%;left:2.5%;background:#fff;border-radius:0.5rem;background-clip:padding-box;overflow:hidden;}
.full_mask ul li {height:5.626rem;line-height:5.626rem;font-size:2.5rem;text-align:center;color:#0079fe;border-top:solid 1px #d6d6d6;width:100%;}
.full_mask ul li:first-of-type {border-top:none;}
.full_mask .plugs_cancel {position:absolute;bottom:1.125rem;background:#fff;width:95%;left:2.5%;height:5.625rem;line-height:5.625rem;font-size:2.5rem;text-align:center;color:#0079fe;
border-radius:0.5rem;background-clip:padding-box;overflow:hidden;
}

/* 表单布局 */
.u_form_layout {}
.u_form_layout li {}
.u_form_layout li label.f_tt {font-size:1.75rem;}
.u_form_layout li .ipt_box {position:relative;}
.u_form_layout li .ipt_box input.u_ipt {font-size:1.75rem;}
.u_form_layout li .ipt_box .u_textarea {}


/* tab切换 */
.u_tab {border:solid 1px #d6d6d6;border-width:1px 0;height:5.125rem;background:#fff;margin-top:-1px;left:0;width:100%;z-index:10;}
.u_tab li {position:relative;text-align:center;float:left;font-size:1.875rem;line-height:5rem;}
.u_tab.li5 li {width:20%;}
.u_tab.li4 li {width:25%;}
.u_tab.li3 li {width:33.333%;}
.u_tab.li2 li {width:50%;}
.u_tab li.current {color:#fc5002;line-height:5rem;}
.u_tab_content {overflow:hidden;}
.u_tab_item {display:none;}
.u_tab_item.current {display:block;}

.u_tab li .line {width:1px;height:2.125rem;background:#d6d6d6;overflow:hidden;line-height:0;position:absolute;right:0;top:1.4375rem;display:block;}
.u_tab li.current .v_line {border-bottom:solid 0.25rem #fc5002;position:absolute;bottom:0;width:80%;left:10%;}
.u_tab li:last-of-type .line {display:none;} 


/* 加载效果1 */
.loading_box {color:#fff;font-size:2rem;position:fixed;z-index:10;left:0;width:100%;top:0;height:100%;}
.loading_box .loading_tip {
	width:60%;margin:0 auto;height:4.4rem;line-height:4.4rem;position:relative;top:50%;
	text-align:center;border-radius:0.6rem;background:rgba(0,0,0,0.5);
	transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);
}

.loading_box img {height:2.2rem;margin-right:1rem;vertical-align:top;margin-top:1.1rem;}

/* 加载效果1 */
.loading_box2 {color:#666;font-size:2rem;position:fixed;z-index:10;left:0;width:100%;top:0;height:100%;}
.loading_box2 .loading_tip {
	width:60%;margin:0 auto;height:4.4rem;line-height:4.4rem;position:relative;top:50%;
	text-align:center;border-radius:0.6rem;background:rgba(255,255,255,1);border:solid 1px #d6d6d6;
	transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);
}

.loading_box2 img {height:2.2rem;margin-right:1rem;vertical-align:top;margin-top:1.1rem;}

/* 排版布局 */
.u_layoutBox {border:solid 1px #d6d6d6;background:#fff;}
.u_layoutBox_item {margin-left:1.5rem;border-top:solid 1px #d6d6d6;min-height:5.625rem;color:#858585;}
.u_layoutBox_item:first-of-type {border-top:none;}


