
/*定义一些变量*/

$width1170:1170px;

/*定义常用颜色*/
$colorfff:#ffffff;
$colorccc:#ccc;
$coloraaa:#aaa;
$color2424:#242424;
$colorgreen:green;
$colortheme:#E0223D;
// -----------------------------------------------------------------------------------------------

//字体定义规范
$size10:10px;
$size12:12px;
$size14:14px;
$size16:16px;
$size18:18px;
$size22:22px;

// -----------------------------------------------------------------------------------------------
$inputheight:40px;
$themeColor:#2F8EAB;
$themeBlue:#2F8EAB ;