.coverPicker {
    background: rgba(249, 249, 249, 0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.dateMonthBox {
  display: inline-block;
}
.dateMonthBox *{
  font-size: 12px;
}
.dateMonthInput {
      width: 90px;
}
.attachoper {
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 111;
    width: 250px;
    box-shadow: 3px 5px 15px -9px rgba(0, 0, 0, .5);
}
.attachoper .attachIn:before {
    content: "";
    width: 1px;
    height: 90%;
    border-left: 1px solid #ddd;
    position: absolute;
    top: 5%;
    left: 50%;
}
.attachoper .attachFooter {
    margin-bottom: 15px;
    text-align: center;
    z-index: 1;
}
.attachoper .attachFooter .btnBoxer {
    margin-left: 21%;
}
.attachoper .attachIn {
    overflow: hidden;
    text-align: center;
    z-index: 1;
    padding-top: 20px;
}
.attachoper .attachIn .attachMonth {
    width: 40%;
    display: inline-block;
}
.attachoper .attachIn .attachMonth .oneItem, .attachoper .attachIn .attachYear .oneItem {
    width: 45px;
    padding: 5px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.attachoper .attachIn .closeDay:hover {
  color: #898989;background-color: white;
}
.attachoper .attachIn .oneItem:hover,  .attachoper .attachIn .oneActive {
    background-color: #d60c18;
    color: white;
    border-radius: 2px;
}
.attachoper .attachIn .closeDay {
  color: #ddd;
}

.attachoper .attachIn .attachYear {
    width: 40%;
    display: inline-block;
}
.attachoper .attachIn .attachYear .yearOper{
    width: 100%;
}
.attachoper .attachIn .attachYear .yearOper .yop{
  cursor: pointer;
      color: #9c9c9c;
      width: 31px;
}


.showBtn {
  cursor: pointer;
  vertical-align: top;
  right: 34px;
  line-height: 32px;
  color: #888787;
  padding: 0 8px 0 11px;
}
