.pickerBox {
    display: inline-block;
    min-width: 100px;
    color: #555;
}
.pickerBox table {
    border: 0;
    border-top: 1px solid #ddd;
}
.pickerBox table td {
    vertical-align: middle;
}
.datePickerInput {}
.showBtn {
  cursor: pointer;
  height: 32px;
  vertical-align: top;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 0;
  line-height: 32px;
  font-size: 12px;
  color: #888787;
  padding: 0 8px 0 11px;
}
.pickerMain * {
    font-size: 12px;
    text-align: center;
}
.pickerMain table {
    width: 100%;
}
.pickerMain table thead{
    border-left:0;
}
.pickerMain table tbody tr td{
    border: 0;
}
.pickerMain table .prevDay span {
    color: #dedada;
}
.pickerMain table .nextDay span {
    color: #dedada;
}
.pickerMain table .closeDay span {
    color: #dedada;
}
.pickerMain table .curDay {
    cursor: pointer;
}
.pickerMain table td {
    padding: 10px 0;
}
.pickerMain table td span {
    padding: 5px;
    line-height: 15px;
    border-radius: 42px;
    width: 15px;
    height: 15px;
}
.pickerMain table .curDay span:hover, .pickerMain table .curDay .active {
    background-color: #d60c18;
    color: white;
}
.pickerMain {
    background-color: white;
    position: absolute;
    border: 1px solid #ddd;
    top: 100%;
    box-shadow: 3px 5px 15px -9px rgba(0, 0, 0, .5);
    right: 0;
    width: 320px;
    min-height: 100px;
    z-index: 111;
    margin-top: -1px;
}
.datePickerTitleRow {
    padding: 15px 10px;
    text-align: center;
}
.operMonth {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -13px;
}
.operMonth .iconm {
    cursor: pointer;
}
.operMonth .monthprev {
    position: absolute;
    left: 50px;
}
.operMonth .monthnext {
    position: absolute;
    right: 50px;
}
.operYear {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -13px;
    cursor: pointer;
}
.operYear .yearprev {
    position: absolute;
    left: 20px;
}
.operYear .yearnext {
    position: absolute;
    right: 20px;
}
.coverPicker {
    background: rgba(249, 249, 249, 0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
