
/*定义一些变量*/

/*定义常用高度 宽度 */
$headHeight:1.27rem;
$footerHeight:1.307rem;
$width100:100%;
$height100:100%;

/*定义常用字体大小*/
$fs12:0.32rem;
$fs13:0.35rem;
$fs14:0.38rem;
$fs15:0.4rem;
$fs16:0.45rem;
$fs18:0.48rem;
$fs20:0.55rem;

/*定义常用颜色*/
$colorfff:#ffffff;
$colorccc:#ccc;
$coloraaa:#aaaaaa;
$colortheme:#eb6d00;
$color2424:#242424;
$colorgreen:green;

//设置一个默认的对齐方式 
$inline-block-alignment: middle !default;
$legacy-support-for-ie: false !default; 

 