<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
	  接口请求加时间戳，
	  接口请求加时间戳，避免接口多次请求不触发的问题（常用于同一个接口需多次触发，如ERP项目常用的功能hover显示popover的交互效果）
	  
	  <script>
		  
		  let timestamp = Date.now()
		  let params = {}
		  
		  this.$http({
			url: this.$http.adornUrl(`bi/channelOrderFinSummary/queryYearTarget?timestamp=${timestamp}`),
			method: 'post',
			headers: {
			 version: encodeURIComponent(localStorage.localversion)
			},
			data: params
		  }).then(({ data }) => {
			  
			  if(data.code == 200 || data.code == 0){
				   this.notifySuccess('保存成功')
				   // this.visible = false
				   // this.$emit('refreshDataList')
			  }else{
				  this.notifyError(data.msg)
			  }

		  })
	  </script>
	  
	   输入框要提供可以搜索的
	   <el-select v-model="value" filterable placeholder="请选择">
	      <el-option
	        v-for="item in options"
	        :key="item.value"
	        :label="item.label"
	        :value="item.value">
	      </el-option>
	   </el-select>
		
	  
	  这样可以实现，同一个接口可以在短时间内被重复触发请求，加时间戳主要是为了告诉浏览器，我这个是新请求的接口，不要使用缓存，可以让我重新触发请求。
	  
	  
	  @input="blurTrackNumber"
	  @blur="handleBlur"
	  
	  blurTrackNumber (value) {
		  let lines = this.dataForm.trackingNumber.split('\n')
		  lines = lines.map(line => line.trim())
		  this.dataForm.trackingNumber = lines.join('\n')
	  },
	  handleBlur () {
		// 去除空白行
		// el-textarea去除空白行以及前后换行
		const nonEmptyLines = this.dataForm.trackingNumber.split('\n').filter(line => line.trim() !== '')
		this.dataForm.trackingNumber = nonEmptyLines.join('\n')
	  },
	  
	  
	   this.$notify({
		  type: 'error',
		  title: '错误',
		  message: error,
		  dangerouslyUseHTMLString: true,
		  customClass: 'pointCustomErroyNot22'
	   })
	  
	</body>
</html>