<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
	  接口请求加时间戳，
	  接口请求加时间戳，避免接口多次请求不触发的问题（常用于同一个接口需多次触发，如ERP项目常用的功能hover显示popover的交互效果）
	  
	  <script>
		  
		  let timestamp = Date.now()
		  let params = {}
		  
		  this.$http({
			url: this.$http.adornUrl(`bi/channelOrderFinSummary/queryYearTarget?timestamp=${timestamp}`),
			method: 'post',
			headers: {
			 version: encodeURIComponent(localStorage.localversion)
			},
			data: params
		  }).then(({ data }) => {
			  
			  if(data.code == 200 || data.code == 0){
				   this.notifySuccess('保存成功')
				   // this.visible = false
				   // this.$emit('refreshDataList')
			  }else{
				  this.notifyError(data.msg)
			  }

		  })
		  
		  禁用的排在后面,封装了一个方法
		  this.$sortbUsed
		  
		  
		  
		  let ids = this.dataListSelections.map((item) => {
			  if (item.dictDocStatus === '01' || item.dictDocStatus === '04') {
				return item.id
			  }
		  })
		  ids = ids.filter(item => item !== undefined);
		  
		  
		  
		  
		  import {
		    dictBatchKey,
			getFieldSizes
		  } from '@/api/common/common.api'
		  
		  
		  
		  //重置的写法，将携带参数的路径去除掉 
		  if (JSON.stringify(this.$route.query) !== '{}') {
			  var oldUrl = window.location.href
			  var newUrl = oldUrl.substring(0, oldUrl.indexOf('?'))
			  window.location.href = newUrl
			  delete this.searchData['taskId']
			  delete this.searchData['id']
			  delete this.searchData['code']
			  delete this.searchData['sourceDetailId']
		  }
		  
		  
		  import {getUser} from '@/utils'
		  let curUser = await getUser()
		  this.dataForm.applicant = curUser
		  
	  </script>
	  
	  
	  
	  
	  :data="dataList"
	   <el-dropdown
	   methods:
	   components: 
	   @cell-mouse-ent
	  
	  
	  <el-tooltip class="item" effect="dark"  placement="top">
		<div v-html="props.scope.row.dictShippingLabelErrorMsg" slot="content" 
		  style="white-space: pre-line;" class="list">
		</div>
	
		<select-all 
		  v-model="dataForm.roomIdList"
		  :listDataOption="roomIdListOptions"
		  data-value="id"
		  data-label="name"
		  :isMultiple="true"
		  :collapseTags="true"
		  :isDisabled="isDisabled"
		></select-all>
	  </el-tooltip>
	  
	   系统封装好的带快捷键的日期组件。
	   <datePickerAll v-model="dataForm.dateRange" typeName="daterange" :defaultDate="false"></datePickerAll>
	   import datePickerAll from '@/components/erp-date/datePicker-all'	
				 
	  
	   输入框要提供可以搜索的
	   <el-select v-model="value" filterable placeholder="请选择">
	      <el-option
	        v-for="item in options"
	        :key="item.value"
	        :label="item.label"
	        :value="item.value">
	      </el-option>
	   </el-select>
		
	  
	  这样可以实现，同一个接口可以在短时间内被重复触发请求，加时间戳主要是为了告诉浏览器，我这个是新请求的接口，不要使用缓存，可以让我重新触发请求。
	  
	  
	  @input="blurTrackNumber"
	  @blur="handleBlur"
	  
	  blurTrackNumber (value) {
		  let lines = this.dataForm.trackingNumber.split('\n')
		  lines = lines.map(line => line.trim())
		  this.dataForm.trackingNumber = lines.join('\n')
	  },
	  handleBlur () {
		// 去除空白行
		// el-textarea去除空白行以及前后换行
		const nonEmptyLines = this.dataForm.trackingNumber.split('\n').filter(line => line.trim() !== '')
		this.dataForm.trackingNumber = nonEmptyLines.join('\n')
	  },
	  
	  
	   this.$notify({
		  type: 'error',
		  title: '错误',
		  message: error,
		  dangerouslyUseHTMLString: true,
		  customClass: 'pointCustomErroyNot22'
	   })
	   
	   
	   
	    this.$notify.error({
		 title: '错误',
		 customClass: 'custom-notify333',
		 dangerouslyUseHTMLString: true, // 允许使用 HTML
		 message: error.replace(/\n/g, '<br>') // 将 \n 替换为 <br>，手动换行
	   })
	   
	   注意，错误类才能用  custom-notify333 这个类，
	   
	   custom-notify333 这个类绑定 抖动效果了。
	   
	   其他类型使用 custom-notify3330 这个类。
	   
	   <style>
	   .custom-notify333 .el-notification__content {
	     white-space: normal; /* 让内容超出宽度时自动换行 */
	     word-wrap: break-word; /* 如果有超长单词，也能强制换行 */
		 word-break:break-all;
	   }
	   </style>
	   
	   
	   
	   el-popover 设置最大宽度、最大长度
	   <style>
		.el-popover.trackingListYichangrizhi {
			max-width: 1000px !important;
			width: 1000px;
		}
	   </style>
	   <el-popover popper-class="trackingListYichangrizhi" placement="right" width="1000" trigger="click">
	

	    列表鼠标点选及鼠标移入的交互效果优化表单
		
		重点，去掉 el-table的 stripe属性 这个作用于隔行变色
		highlight-current-row 同时也要去掉这个。
		
	    <el-table ref="elTable"
	    @row-click="handleRowClick"
	    :row-class-name="getRowClass"
	    >
	     currentGroup:null

		 handleRowClick (row) {
		   this.currentGroup = row.id // 根据点击的行更新当前组
		   this.$refs.elTable.setCurrentRow(row) // 设置当前行
		 },
		 // 动态设置行样式
		 getRowClass ({ row }) {
		   return row.id === this.currentGroup ? 'custom-current-row' : ''
		 },
		 // 点击操作项时选中
		 handleDropdownCommand(row) {
		   this.currentGroup = row.id
		 },
		 
		 
		 <el-table
		 <el-dropdown
		 methods:
		 components:
		 @cell-mouse-enter
	  
		<el-form-item label="当前进度备注" prop="progressRemark"  :rules="[
			{ required: false, message: '', trigger: 'blur' },
			{
			  min: 0,
			  max: this.progressRemarkLength,
			  message: `最多可以输入${progressRemarkLength}个字符`,
			  trigger: 'blur',
			},
		  ]">
		  <div class="tipWrapLimit">
			<div>
				<el-input
					type="textarea"
					:disabled="(type == 'canCheck' ) || (type == 'canApproval' && node !== 'T01'  ) "
					:autosize="{ minRows: 3, maxRows: 4}"
					placeholder="请输入当前进度备注"
					@blur="handleBlur('progressRemark')"
					v-model="dataForm.progressRemark">
				</el-input>
			</div>
			<div class="tip">
			  <span class="red">
				{{dataForm.progressRemark ? dataForm.progressRemark.length : 0 }}
			  </span>
			  /<span class="num_count">{{progressRemarkLength}}</span>
			</div>
		  </div>
		</el-form-item>
		
		
		
		阻止使用谷歌浏览器自带的打印功能， 分页显示的时候，表头重复的问题。
		
		<style scoped>
		/* 打印样式 */
		@media print {
		  /* 阻止表头重复 */
		  .payment-print-content thead {
		    display: table-row-group !important;
		  }
		
		  /* 控制分页行为 */
		  .payment-print-content {
		    page-break-inside: avoid; /* 尽量保持表格完整 */
		  }
		
		  /* 标题行特殊处理 */
		  .header-text-title tr:first-child td {
		    position: sticky;
		    top: 0;
		    background: white;
		    z-index: 1;
		  }
		}
		</style>
						
	</body>
</html>