
/*购物车商品列表样式*/
.cartList{
    margin-top:48px;
    width: 100%;
    height:86vh;
    
    ul{
        width: 100%;
        height:86vh;
        overflow-y: auto;
        
        li{
            width: 100%;
            height: 20vmax;
            border-top: 1px solid #CCCCCC;
            display: flex;
        }
        div{
            flex:4;
        }
        /*图片*/
       .goodsImg{
            display: flex;
            align-items: center;
            span{
                display: inline-block;
                margin:0 5px 0 20px;
                color:#8E488E;
                font-size:17px;
               
            }
            .yuanquan{
                display: inline-block;
                width:13px;
                height:13px;
                border: 2px solid black;
                border-radius: 50%;
            }
           img{
               height: 14vmax;
               width:11vmax;
           }
        }
        //商品文字信息样式
        .goodsText{
            position:relative;
            h3{
                position: absolute;
                left: 0;
                top: 15px;
                width: 150%;
            }
            p{
                color: red;
                position: absolute;
                left: 0;
                bottom:15px;
                font-size: 6vw;
            }
        }
        //商品数量修改
        .goodsNum{
            position: relative;
            span{
                position: absolute;
                bottom: 15px;
                display: block;
                width:5vmax;
                height:4vmax;
                border: 1px solid #CCCCCC;
                text-align: center;
                font-weight: bold;
                line-height: 4vmax;
            }
            
            span:first-child{
                right: 17vmax;
                font-size: 40px;
                border-bottom-left-radius:6px;
                border-top-left-radius:6px;
                
            }
            span:nth-child(2){
                right:12vmax;
            }
            span:nth-child(3){
                right: 7vmax;
                font-size: 30px;
                border-bottom-right-radius:6px;
                border-top-right-radius:6px;
            }
            span:last-child{
                right: 1vmax;
                border: none;
                font-size:3vmax;
                font-weight: normal;
            }
        }
    }
}

/*提交信息提示框样式*/
.commitInfo{
    position: fixed;
    left:50%;
    top: 50%;
    margin:-15vw 0 0 0;
    width:0vw;
    height:30vw;
    overflow: hidden;
    background: lightgray;
    border-radius: 3vw;
    line-height: 20vw;
    text-align: center;
    font-size: 5vw;
    transition: all 0.3s;
    
    span{
        position: absolute;
        display: block;
        right: 10px;
        bottom: 10px;
        width:17vw;
        height:10vw;
        background:darkgray;
        border-radius:3vw;
        line-height: 10vw;
        color: white;
    }
}




/*脚部样式*/
.layout-foot{
   padding: 0;
   height: 54px;
   border-top-color:#8E488E;
    
    .chooseAll{
        flex: 1;
        line-height: 54px;
        display: flex;
        align-items: center;
        
        span{
            margin:0 5px 0 20px;
            color:#8E488E;
            font-size:17px;
        }
        .yuanquan{
            display: inline-block;
            width:13px;
            height:13px;
            border: 2px solid black;
            border-radius: 50%;
        }
    }
    .submitBtn{
        flex: 2;
        background-color: #8E488E;
        color: white;
        text-align: center;
        line-height: 54px;
    }
}
