html{background: #f1f1f1;}
body{font-family:"微软雅黑";font-size: 0.375rem;color:#666666;background: #f1f1f1;-webkit-overflow-scrolling: touch;margin:0 auto;}
body.has-menu{padding-bottom:1.7rem;}
a{text-decoration:none;}
a:active,a:focus{text-decoration: none;}

/*全局样式*/
.bg-f1f1f1{background: #f1f1f1 !important;}
.bg-fff{background: #fff !important;}
.clear-pd{padding:0px !important;}
.bd-bt{border-bottom:1px solid #ddd !important;}
.bd-tp{border-top:1px solid #ddd !important;}
.mgt-10{margin-top:0.15625rem !important;}
.mgt-15{margin-top:0.234375rem !important;}
.mgt-20{margin-top:0.3125rem !important;}
.mgl-10{margin-left:0.15625rem !important;}
.mgl-15{margin-left:0.234375rem !important;}
.mgl-20{margin-left:0.3125rem !important;}
.mgl-30{margin-left:0.46875rem !important;}
.mgr-10{margin-right:0.15625rem !important;}
.pd-10{padding:0.15625rem !important;}
.pd-15{padding:0.234375rem !important;}
.pd-30{padding:0.46875rem  !important;}
.pdl-30{padding-left:0.46875rem !important;}
.pdlr-15{padding-left:0.15625rem !important;padding-right:0.15625rem !important;}
.pdlr-15{padding-left:0.234375rem !important;padding-right:0.234375rem !important;}
.pdlr-20{padding-left:0.3125rem !important;padding-right:0.3125rem !important;}
.pdlr-30{padding-left:0.46875rem !important;padding-right:0.46875rem !important;}
.pdtb-15{padding-top:0.15625rem !important;padding-bottom:0.15625rem !important;}
.pdtb-15{padding-top:0.234375rem !important;padding-bottom:0.234375rem !important;}
.pdtb-20{padding-top:0.3125rem !important;padding-bottom:0.3125rem !important;}
.pdtb-30{padding-top:0.46875rem !important;padding-bottom:0.46875rem !important;}
.font-20{font-size:0.625rem !important;}
.font-18{font-size:0.5625rem !important;}
.font-16{font-size:0.5rem !important;}
.font-14{font-size:0.4375rem !important;}
.font-12{font-size:0.375rem !important;}
.bold{font-weight: 600 !important;}
.color-E8{color:#E80000 !important;}
.color-ccc{color:#ccc !important;}
.color-333{color:#333 !important;}
.color-999{color:#999 !important;}
.color-FF7022{color:#FF7022 !important;}
.color-3DAFF6{color:#3DAFF6 !important;}
.bfc{overflow:auto;*zoom:1;}
.ver-mid{vertical-align: middle !important;}
.text-center{text-align: center !important;}
/*禁止换行样式*/
.h-nowrap{white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}


/*头部*/
.icon-return{position: absolute;left:0.46875rem;top:0.38rem;width:0.3125rem;height:0.578125rem;background:url(../img/icon-return.png) no-repeat;background-size:contain;}
.y-mytop{position:fixed;background:#000;opacity:.9;height:1.2667rem;width:100%;z-index: 10000;}
.return-box{position:absolute;top:0;left:0;}
.return-box>img{float:left;width:0.28rem;margin-top:.38rem;margin-left:0.32rem;}
.return-box>span{display:block;float:left;font-size:.45rem;color:#fff;line-height:1.2667rem;margin-left:.1rem;}
.y-mytop>h1{width:100%;font-size:.5rem;text-align:center;line-height:1.2667rem;color:#fff;}
/*底部导航*/
.h-footerMenu{position:fixed;bottom:0;left:0;right:0;z-index:999;box-shadow:0 -1px 14px rgba(0,0,0,0.1);border-top:1px solid rgba(0,0,0,.1);background:#f8f8f8;}
.h-footerMenu ul li{padding:0.1rem 0;text-align:center;float:left;width:25%;background: #f8f8f8;font-size: 0.425rem;position: relative;}
.h-footerMenu ul li i{display: block;margin:0 auto;width:0.625rem;height:0.625rem;margin-bottom:0.1rem;}
.h-footerMenu ul li i{position: relative;z-index: 100;}
.h-footerMenu ul li a{position: relative;z-index: 100;}
.h-footerMenu ul li.col1 i{background: url(../img/tab-index.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col2 i{background: url(../img/tab-vip.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col3 i{background: url(../img/tab-buycar.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col4 i{background: url(../img/tab-my.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.active a{color:#FF6369;}
.h-footerMenu ul li.col1.active i{background: url(../img/tab-index1.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col2.active i{background: url(../img/tab-vip1.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col3.active i{background: url(../img/tab-buycar1.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.col4.active i{background: url(../img/tab-my1.png) no-repeat;background-size: contain;}
.h-footerMenu ul li.active	#d1{position:absolute;top:50%;left:50%;width:20px;height:20px;border-radius: 50%;z-index: 3;margin-left: -10px;margin-top: -10px;}
.h-footerMenu ul li.active	#d2{position:absolute;top:50%;left:50%;width:30px;height:30px;border-radius: 50%;z-index: 2;margin-left: -15px;margin-top: -15px;}
.h-footerMenu ul li.active	#d1{background:#FFC7C9;}
.h-footerMenu ul li.active	#d2{background:#FFE0E1;}
@-webkit-keyframes fangda{
		0%{transform:scale(1);opacity:1;}
		100%{transform: scale(3);opacity:0;}
}
@keyframes fangda{
		0%{transform:scale(1);opacity:1;}
		100%{transform: scale(3);opacity:0;}
}
.h-footerMenu ul li.active		#d1{
		animation: fangda 1s infinite linear;
		-webkit-animation: fangda 1s infinite linear;
}
.h-footerMenu ul li.active		#d2{
		animation: fangda 1s infinite linear;
		-webkit-animation: fangda 1s infinite linear;
}
