* {
	font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	text-shadow: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}
html, body {
	width: 640px;
	height: 100%;
	font-size: 18px;
	margin: 0 auto;
	overflow: hidden;
}
.swiper-container {
	width: 100%;
	height: 100%;
	background: #0c1136;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}
.swiper-wrapper, .swiper-slide {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.swiper-slide {
	position: relative;
}

.gray{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;
}
.setImg {
	position: absolute;
	width: 100%;
	height: auto;
	opacity: 0;
	top: 0em;
}
.gray1 {
	background-image: url(../images/1.jpg);
}
.gray2 {
	background-image: url(../images/1.jpg);
}
.gray3 {
	background-color:#de6932;
	background-image: url(../images/1.jpg);
}
.gray4 {
	background-color:#de6932;
	background-image: url(../images/1.jpg);
}
.gray5 {
	background-color:#de6932;
	background-image: url(../images/1.jpg);
}
.gray6 {
	background-color:#de6932;
	background-image: url(../images/1.jpg);
}
.gray7 , .gray8, .gray9, .gray10, .gray11{
	background-image: url(../images/1.jpg);
}

.gray7 .setImg:nth-child(3),.gray7 .setImg:nth-child(4),{
	width:auto; top:55%;
}
.upBg {
	position: fixed;
	left: 50%;
	margin-left: -24px;
	bottom: 20px;
	z-index: 3;
}
.arrUp {
	width: 48px;
	z-index: 1;
	-webkit-animation: arrUp infinite 1.5s ease-in-out;
}
 @-webkit-keyframes arrUp {
 0%, 30% {
 -webkit-transform:translateY(5px);
 opacity: 0;
}
 60% {
 -webkit-transform:translateY(0px);
 opacity: 1;
}
 100% {
 -webkit-transform:translateY(-5px);
 opacity: 0;
}
}
.player-button {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url("../images/player-button.png") top center no-repeat;
	background-size: contain;
	cursor: pointer;
}
.player-tip {
	float: left;
	color: #bbb;
	font-size: 20px;
	line-height: 24px;
	margin-right: 15px;
	margin-top: 15px;
}
.audio {
	position: fixed;
	z-index: 5;
	right: 10px;
	opacity: 1;
	top: 20px;
}
.animloop {
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.playst {
	background: url(../images/play-start.png) top center no-repeat;
	background-size: auto 100%;
}
.sub{display:block; width:300px; height:75px; position:absolute; top:500px; left:170px; z-index:99999; background:lightgreen; opacity:0;}
.ate1,.ate2{display:block; width:300px; height:40px; position:absolute; top:840px; left:220px;  z-index:99999; background:lightgreen; opacity:0;}
.ate2{top: 880px;}
