.tablelist {}
.tableBox {
    overflow: hidden;
    /*border: 1px solid #ddd;*/
    border-bottom: 0;
    border-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tableBox thead {
  border: 1px solid #ddd;
}
.tableBox table {
    border: 0;
}
.tablelist .price {
    text-align: right;
}
.tablelist .desc {
    text-align: left;
}
.tablelist .checkTag {
    display: inline-block;
    margin: 8px;
    vertical-align: middle;
}
.noresult {
    background-color: white;
    border-top: 0;
    text-align: center;
    color: #ccc;
    padding: 50px 0;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;    border-right: 1px solid #ddd;
}
.loading {
    background-color: white;
    border-top: 0;
    text-align: center;
    color: #ccc;
    padding: 50px 0;
    font-size: 12px;    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table .active {
    background-color: #f2f2f2;
}
