<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>

</head>
<body>
    
<!-------------------------------------------------------------------------------------------------------->

<div id="app">

    <select v-model="selected">

        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>

    </select>

    <span>Selected: {{ selected }}</span>

</div>

<!-------------------------------------------------------------------------------------------------------->

<script>

    new Vue({
        el: '#app',
        data: {
            selected: 'A',
            options: [
            { 
                text: 'One', 
                value: 'A' 
            },
            { 
                text: 'Two', 
                value: 'B' 
            },           
            {
                text: 'Three', 
                value: 'C' 
            }
            ]
        }
    })

</script>

<!-------------------------------------------------------------------------------------------------------->

</body>
</html>