<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>


</head>

<body>

<!-- ----------------------------------------------------------------------------------- -->

  <div id="app">
        <select v-model="selected">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>

        <span>Selected: {{ selected }}</span>
  </div>

<!-- ----------------------------------------------------------------------------------- -->

  <script>
    new Vue({
      el: '#app',
      data: {
        selected: 'A',
        options: [
          {
            text: 'One',
            value: 'A'
          },
          {
            text: 'Two',
            value: 'B'
          },
          {
            text: 'Three',
            value: 'C'
          }
        ]
      },
      watch:{
        selected:function(){
          console.log('你当前在切换option,当前选中的值为：'+ this.selected)
        }
      }
    })
  </script>

<!-- ----------------------------------------------------------------------------------- -->

</body>

</html>
