<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/Css/style.css"/>
    <!--[if IE 6]>
    <script src="__PUBLIC__/Home/Js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/Home/Js/menu.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/lrscroll_1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/n_nav.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/shade.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jquery.js"></script>
    <title>尤洪</title>
</head>
<body>
<!--Begin Header Begin-->
<include file="Index/header"/>
<!--End Menu End-->
<div class="i_bg">
    <div class="postion">
    	<span class="fl">全部
            <volist name="path" id="path">
                > {$path}
            </volist><empty name="path">> "{$Think.post.search}"</empty></span>
        <!--<span class="n_ch">-->
        <!--<span class="fl">品牌：<font>香奈儿</font></span>-->
        <!--<a href="#"><img src="__PUBLIC__/Home/Images/s_close.gif" /></a>-->
        <!--</span>-->
    </div>
    <!--Begin 筛选条件 Begin-->
    <div class="content mar_10">
        <table border="0" class="choice" style="width:100%; font-family:'宋体'; margin:0 auto;" cellspacing="0" cellpadding="0" typeId="{$typeId}">
            <tr valign="top">
                <td width="70">品牌：</td>
                <td class="td_a">
                    <volist name="brand" id="brands">
                        <a href="#" class="now">{$brands.brands}</a>
                    </volist>
                </td>
            </tr>
            <volist name="goodspro" id="goodspro">
                <tr>
                    <td>{$goodspro.propertyName}：</td>
                    <td class="td_a">
                        <volist name="goodspro.propertyValue" id="value">
                            <a href="#">{$value}</a>
                        </volist>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
    <!--End 筛选条件 End-->

    <div class="content mar_20">
        <div class="l_history">
            <div class="his_t">
                <span class="fl">浏览历史</span>
                <span class="fr"><a href="javascript:empty();">清空</a></span>
            </div>
            <ul>
                <volist name="scanHistory" id="sh">
                    <notempty name="sh">
                <li>
                    <div class="img"><a href="__MOUDLE__/Product/id/{$sh.id}"><img src="__PUBLIC__/Uploads/{$sh.picName}" width="185" height="162"/></a></div>
                    <div class="name"><a href="__MOUDLE__/Product/id/{$sh.id}">{$sh.goodsName}</a></div>
                    <div class="price">
                        <font>￥<span>{$sh.price}</span></font> &nbsp;
                    </div>
                </li>
                    </notempty>
                </volist>
            </ul>
        </div>
        <div class="l_list categorylist">
            <include file="CategoryListChild"/>
        </div>
        <!--Begin 弹出层-加入购物车 Begin-->
        <div id="fade1" class="black_overlay"></div>
        <div id="MyDiv1" class="white_content">
            <div class="white_d">
                <div class="notice_t">
                    <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv_1('MyDiv1','fade1')"><img src="__PUBLIC__/Home/Images/close.gif"/></span>
                </div>
                <div class="notice_c">

                    <table border="0" align="center" style="margin-top:;" cellspacing="0" cellpadding="0">
                        <tr valign="top">
                            <td width="40"><img src="__PUBLIC__/Home/Images/suc.png"/></td>
                            <td id="cartmsg">

                            </td>
                        </tr>
                        <tr height="50" valign="bottom">
                            <td>&nbsp;</td>
                            <td><a href="#" class="b_sure">去购物车结算</a><a href="#" class="b_buy">继续购物</a></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!--End 弹出层-加入购物车 End-->
    </div>
    <!--Begin 弹出层-收藏成功 Begin-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv('MyDiv','fade')"><img src="__PUBLIC__/Home/Images/close.gif"/></span>
            </div>
            <div class="notice_c">

                <table border="0" align="center" style="margin-top:0;" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td width="40"><img src="__PUBLIC__/Home/Images/suc.png"/></td>
                        <td>
                            <span style="color:#3e3e3e; font-size:18px; font-weight:bold;">您已成功收藏该商品</span><br/>
                            <a href="#">查看我的关注 >></a>
                        </td>
                    </tr>
                    <tr height="50" valign="bottom">
                        <td>&nbsp;</td>
                        <td><a href="javascript:CloseDiv('MyDiv','fade');" class="b_sure">确定</a></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!--End 弹出层-收藏成功 End-->

    <!--Begin Footer Begin -->
    <div class="b_btm_bg bg_color">
        <div class="b_btm">
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b1.png" width="62" height="62"/></td>
                    <td><h2>正品保障</h2>正品行货 放心购买</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b2.png" width="62" height="62"/></td>
                    <td><h2>满38包邮</h2>满38包邮 免运费</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b3.png" width="62" height="62"/></td>
                    <td><h2>天天低价</h2>天天低价 畅选无忧</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="__PUBLIC__/Home/Images/b4.png" width="62" height="62"/></td>
                    <td><h2>准时送达</h2>收货时间由你做主</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="b_nav">
        <dl>
            <dt><a href="#">新手上路</a></dt>
            <dd><a href="#">售后流程</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">订购方式</a></dd>
            <dd><a href="#">隐私声明</a></dd>
            <dd><a href="#">推荐分享说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">配送与支付</a></dt>
            <dd><a href="#">货到付款区域</a></dd>
            <dd><a href="#">配送支付查询</a></dd>
            <dd><a href="#">支付方式说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">会员中心</a></dt>
            <dd><a href="#">资金管理</a></dd>
            <dd><a href="#">我的收藏</a></dd>
            <dd><a href="#">我的订单</a></dd>
        </dl>
        <dl>
            <dt><a href="#">服务保证</a></dt>
            <dd><a href="#">退换货原则</a></dd>
            <dd><a href="#">售后服务保证</a></dd>
            <dd><a href="#">产品质量保证</a></dd>
        </dl>
        <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">网站故障报告</a></dd>
            <dd><a href="#">购物咨询</a></dd>
            <dd><a href="#">投诉与建议</a></dd>
        </dl>
        <div class="b_tel_bg">
            <a href="#" class="b_sh1">新浪微博</a>
            <a href="#" class="b_sh2">腾讯微博</a>
            <p>
                服务热线：<br/>
                <span>400-123-4567</span>
            </p>
        </div>
        <div class="b_er">
            <div class="b_er_c"><img src="__PUBLIC__/Home/Images/er.gif" width="118" height="118"/></div>
            <img src="__PUBLIC__/Home/Images/ss.png"/>
        </div>
    </div>
    <div class="btmbg">
        <div class="btm">
            备案/许可证编号：豫ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br/>
            <img src="__PUBLIC__/Home/Images/b_1.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_2.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_3.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_4.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_5.gif" width="98" height="33"/><img src="__PUBLIC__/Home/Images/b_6.gif" width="98" height="33"/>
        </div>
    </div>
    <!--End Footer End -->
</div>

</body>

</html>
<script>
    function empty()
    {
        $.post('__URL__/emptyHistory',function () {
           $('.l_history ul').remove()
        })
    }
    function addCollection(show_div, bg_div,id,ss)
    {
        $.post('__URL__/addCollection',{id:id},function (data){
            if(data.status)
            {
                $(ss).css({'color':'#888888','background':'url(__PUBLIC__/Home/Images/heart_h.png) no-repeat 10px center'});
                document.getElementById(show_div).style.display = 'block';
                document.getElementById(bg_div).style.display = 'block';
                var bgdiv = document.getElementById(bg_div);
                bgdiv.style.width = document.body.scrollWidth;
                // bgdiv.style.height = $(document).height();
                $("#" + bg_div).height($(document).height());
            }
            else
            {
                var r = confirm('请先登陆');
                if (r) {
                    window.location = '__MODULE__/User/Login'
                }
            }
        })
    }
    $(function(){
        $('.conllect').css({'color':'#888888','background':'url(__PUBLIC__/Home/Images/heart_h.png) no-repeat 10px center'})
        $(".td_a a").click(function () {
            if ($(this).hasClass('property')) {
                $(this).parent().children().removeClass('property');
                $(this).parent().children().css('color', '#555')
            }
            else {
                $(this).parent().children().removeClass('property');
                $(this).parent().children().css('color', '#555')
                $(this).css('color', '#ff4e00')
                $(this).addClass('property');
            }
            var proarr = ''
            $('.property').each(function () {
                proarr += $(this).text()+'%'
            })
            if (proarr == '') {
                $.post('__URL__/goodsFilter', {typeId: $('.choice').attr('typeId')}, function (data) {
                    $('.categorylist').html(data);
                })
            }
            else {
                $.post('__URL__/goodsFilter', {property: proarr}, function (data) {
                    $('.categorylist').html(data);
                })
            }

        })
//        $(".ss").click(function () {
//            $(this).css({'color':'#888888','background':'url(__PUBLIC__/Home/Images/heart_h.png) no-repeat 10px center'});
//        })
    })
</script>
