<div class="list_t">
            	<span class="fl list_or">
                    <eq name="select" value="">
                	<a href="__URL__/goodSort" class="now">默认</a>
                        <else/>
                        <a href="__URL__/goodSort">默认</a>
                    </eq>
                     <eq name="select" value="sales">
                    <a href="__URL__/goodSort/act/sales" class="now">
                        <span class="fl">销量</span>
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>
                    </a>
                         <else/>
                         <a href="__URL__/goodSort/act/sales">
                             <span class="fl">销量</span>
                             <span class="i_up">销量从低到高显示</span>
                             <span class="i_down">销量从高到低显示</span>
                         </a>
                     </eq>
                     <eq name="select" value="price">
                    <a href="__URL__/goodSort/act/price" class="now">
                        <span class="fl">价格</span>
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>
                    </a>
                         <else/>
                         <a href="__URL__/goodSort/act/price" >
                             <span class="fl">价格</span>
                             <span class="i_up">价格从低到高显示</span>
                             <span class="i_down">价格从高到低显示</span>
                         </a>
                     </eq>
                     <!--<eq name="select" value="new">-->
                         <!--<a href="__URL__/goodSort/act/new" class="now">新品</a>-->
                         <!--<else/>-->
                         <!--<a href="__URL__/goodSort/act/new">新品</a>-->
                     <!--</eq>-->
                </span>
    <span class="fr" id="count">共发现{$Filtergoods|count}件</span>
</div>
<div class="list_c">
    <ul class="cate_list">
        <volist name="Filtergoods" id="goods">
            <li>
                <div class="img"><a href="__MODULE__/Product/index/id/{$goods.id}"><img src="__PUBLIC__/Uploads/{$goods.picName}" width="210" height="185"/></a></div>
                <div class="price">
                    <font>￥<span>{$goods.price}</span></font> &nbsp;
                </div>
                <div class="name"><a href="__MODULE__/Product/index/id/{$goods.id}">{$goods.goodsName}</a></div>
                <div class="carbg">
                    <a href="javascript:addCollection('MyDiv','fade',{$goods.id},this);" class="ss {$goods.class}">收藏</a>
                    <a onclick="ShowDiv_1('MyDiv1','fade1',{$goods.id})" class="j_car">加入购物车</a>
                </div>
            </li>
        </volist>
    </ul>
    <div class="pages">
        <a href="#" class="p_pre">上一页</a><a href="#" class="cur">1</a><a href="#">2</a><a href="#">3</a>...<a href="#">20</a><a href="#" class="p_pre">下一页</a>
    </div>
</div>